*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    
}

body{
    background-color: rgb(252, 252, 195);
}

header{
    background-image: url(./asset/design1_image2.jpg);
    background-size:100%;
    background-repeat: no-repeat;
}
.headerForm{
    background-image: none;
}

.title{
    text-align: center;
}


main>h1{
    margin-bottom: 2%;
    font-style: italic;
    font-size: 30pt;
}

header>h2{
    display: flex;
    justify-content: center;
    background-color: yellow;
    color: rgb(8, 102, 96);
    font-size: 20pt;
}

header>figure{
    top: 40px;
    margin-top: 2%;
    margin-left: 80%;
}


nav{
    position: sticky;
    top: 0%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.vinculo:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(68, 137, 108);
}

.vinculo{
    width: 25%;
    background-color: rgb(49, 131, 126);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border-color: rgb(49, 131, 126);
    border-style: solid;
    border-radius: 3px;
}


main{
    position:relative;
    margin-left: 7%;
    margin-top: 1%;
}

.articulo{
    padding-top: 1%;
    display:block;
    height: 80px;
}

.infoAbout{
    display:block;
    margin-top: 40px;
    padding-right: 30%;
}


.h3, .parrafo, h2 {
    margin-top: 5px;
}

.h3{
    font-style: italic;
    font-size: 2rem;
}

.parrafo{
    text-indent: 30px;
    font-size: 1.3rem ;
}

.Pcontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    border:5px solid yellow;
    margin-right: 400px;
    margin-left: 393px;
    height: 100px;
}

.mainForm, p, li{
    font-size: 15pt;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 20px;
    padding: 40px;
}

.divForm{
    
    background-color: rgb(16 16 16 / 66%);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    padding: 40px 15px 15px 15px;
    margin-bottom: 40px;
    
}



label{
    
    text-align: center;
}

.mainForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./asset/design1_image1.jpg);
    background-size: 100% 100%;
    margin: 0;
    color: #e1e1e1;
     
}

.nombre{
    
}

fieldset{
    
    border: none;
    padding: 0;
    
}


.divtabla{
    display: flex;
    justify-content: center;
    
}

.tabla{
    width: 50vw;
    height: 30vh;

}

td{
    padding: 1%;
}

th{
    height: 5vh;
    color: white;
    background-color: black;
    text-align:center;
    padding: 1%;
}

.celda1 , .celda3 , .celda5{
    background-color: yellow;
}

.celda2, .celda4{
    background-color: rgb(97, 191, 152);
}

.divdosLineas{
    margin-top: 5%;
}

.divInfo{
    display: flex;
}
    

.info{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.tituRules{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.fall{
    font-size: 20pt;
    font-style: italic;
}

.list, .allPlay{
    margin-top: 3%;
}

.listPal{
    margin: 0%;
    padding-left: 3%;
    list-style: lower-alpha;
}

.mainRules{
    margin-right: 7%;
    
}

 ol, .list > li{
    margin-top: 1%;
}

.list1{
    margin-top: 20px;
}



.input-{
    width: 200px;
    border-radius: 5px;
    border: none;
    background: #9ac5d79c;
    height: 22px;
    color: white;
    font-size: 16px;
}

.inside-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}

.btn{
    width: 110px;
    height: 30px;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    font-weight: 800;
    background: #1b386cba;
    color: white;
}

.btn:hover{
    background: white;
    color:#1b386cba;
}

.map{
    display: flex;
    justify-content: center;
}